<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <div class="form-wrapper">
    <form (ngSubmit)="register()">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="conPassword" name="conPassword" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top">Registrar</ion-button>

      <div class="separator">
        <hr />
        <span>O</span>
        <hr />
      </div>

      <a href="/login" class="register-link">Iniciar sesión</a>
    </form>
  </div>
</ion-content>
